
.bestProjectsWrapper{
    padding: 100px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title{
    color:var(--white) !important;
    font-size: 40px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.projectsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}