
.bestProjectsWrapper{
    background-color: #D291BC;
    padding: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    color:white !important;
    font-size: 40px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}