.transparentCard {
    background-color: var(--background-transparent)!important;
    color: var(--white) !important;
    border: 1px solid var(--purple-hover) !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 10px var(--purple-shadow) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
  
.transparentCard:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 6px 15px var(--purple-hover) !important;
}

.customButton {
    background-color: var(--purple-hover) !important;
    color: var(--white) !important;
    transition: background-color 0.3s ease !important;
}
  
.customButton:hover {
    background-color: var(--purple-low) !important;
}

.technologies{
    font-size: 12px !important;
    color: var(--purple-small) !important;
}
  